.todo {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    padding: 10px;
    width: 500px;
    height: auto;
    border: 3px solid black;
    border-radius: 20px;
}

.todo__header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo__input {
    width: 70%;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
    height: 50px;
    font-size: 20px;
}
