.form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 400px;
    border: 2px solid black;
    border-radius: 10px;
}

.form__close {
    position: absolute;
    align-self: flex-end;
    right: 5px;
    top: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.form__title {
    margin: 20px 0;
    font-size: 30px;
    font-weight: 500;
}

.form__field {
    height: 25px;
    width: 200px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
